@charset "utf-8";
.competition {
    height: 264px;
    background-color: #fff;
}

.competition_title {
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;
    .timg_w img {
        float: left;
        height: 22px;
        margin-right: 14px;
    }
    p {
        line-height: 24px;
        height: 24px;
        color: #999;
        font-weight: 400;
        i {
            font-style: normal;
            width: 20px;
            height: 20px;
            line-height: 20px;
            display: inline-block;
            text-align: center;
            color: #ff5000;
            background: #FFE4DC;
            border-radius: 2px;
            margin: 0 2px;
            font-weight: 700;
        }
    }
    .hd_rightbox {
        position: absolute;
        top: 20px;
        right: 20px;
        line-height: 24px;
        height: 24px;
        font-size: 12px;
        color: #999;
        width: 100px;
        font-weight: 100;
        text-align: right;
        a {
            margin-left: 14px;
            color: #999;
        }
    }
}

.qiang_list {
    li {
        float: left;
        width: 355px;
        padding: 0 20px 0 20px;
        a {
            display: block;
        }
    }
}

.qiang_leftimg {
    float: left;
    width: 180px;
    height: 180px;
}

.qiang_righttext {
    margin-left: 194px;
    overflow: hidden;
    h4 {
        color: #333;
        height: 44px;
        line-height: 22px;
        font-size: 16px;
        font-weight: normal;
        overflow: hidden;
        margin-top: 11px;
    }
    p {
        color: #999;
        margin-top: 12px;
        line-height: 28px;
    }
    .qiang_num {
        line-height: 28px;
        height: 28px;
        color: #FE3338;
        .letter {
            float: right;
            width: 100px;
            text-align: right;
        }
    }
    .money {
        .ya {
            font-size: 12px;
            color: #ff5000;
            text-decoration: none
        }
        .money_num {
            font-size: 20px;
            color: #ff5000;
            text-decoration: none
        }
        span {
            color: #999;
            margin-left: 6px;
            text-decoration: line-through;
        }
    }
}